<!DOCTYPE html>
<html>
    <head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="icon" href="./image/weather.png">
   <title>
     weather app
   </title>
      <link rel="stylesheet" href="./css/index.css">
       <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript" charset="utf-8"></script>

   </head>

   <nav class="navbar navbar-light bg-light">
     <div class="container">

  <form action="/weather" method="POST" class="form-inline">
    <input class="form-control mr-sm-2" name="address" placeholder="Enter the country or city or it's zip code" type="search"  aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>

</nav>
